.git
.github
.venv
venv
**/__pycache__
**/*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
dist
build
.logs
*.egg-info

dashboard/node_modules
dashboard/.env.local
dashboard/apps/web/dist

**/.DS_Store
